{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}
{{- $gitEmail := promptStringOnce . "email" "Email address for git" -}}

[edit]
  command = "nvim"

[data]
    isWorkComputer = {{ $isWorkComputer }}
    gitEmail = {{ $gitEmail | quote }}

