{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}
{{- $gitEmail := promptStringOnce . "email" "Email address for git" -}}

[data]
    isWorkComputer = {{ $isWorkComputer }}
    gitEmail = {{ $gitEmail }}

