[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Stephane Rufer
	email = {{ .gitEmail | quote }} 
	{{ if .isWorkComputer -}}
		signkey = 483E5927882F20F4
	{{ end -}}\n
[mergetool "meld"]
	cmd = meld $LOCAL $BASE $REMOTE -o $MERGED --auto-merge
	trustExitCode = true
[merge]
	tool = meld
	conflictstyle = diff3
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = meld
{{ if .isWorkComputer -}}
[commit]
	gpgSign = true
{{ end -}}\n

[init]
	defaultBranch = trunk
[core]
	editor = nvim
