alias fmt_cov_lib="format_coverage --check-ignore --package=. --report-on=lib --lcov -o ./coverage/lcov.info -i ./coverage"
alias dtestcov="dart test --coverage=./coverage && fmt_cov_lib && htmlcov"
alias dart_fmt="dart format --set-exit-if-changed ."
alias f=".fvm/flutter_sdk/bin/flutter"
alias d="fvm dart"
alias mbs="melos bs"
alias mc="melos analyze && melos format:fix:dry-run && melos test"
alias dt="dart test"
alias gupbs="gup && melos bs"
